*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Se comenta para usar color de bootstrap similar a la maqueta */
/* .navbar{
    background-color: #28A745;
} */

.navbar .navbar-brand{
    width: 8rem;
}

.navbar .nav-link{
    font-family: Roboto;
    font-weight: 500;
}

.navbar .collapse{
    justify-content: right;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler{
    border: 1px solid #FFFFFF7F !important;
  }

.container-fluid .card{
    height: 100%;
    width: 100%;
}

.card img{
    height: 70%;
}

.card .card-title{
    font-size:20pt;
    font-weight: 300;
    color: #212529;
}

.card .card-subtitle{
    font-size:16pt;
    font-weight: 300;
    color: #707070;
}

.card .card-location{
    font-size:13pt;
    font-weight: 300;
    color: #707070;
}

.card .card-price{
    font-size:16pt;
    font-weight: 300;
    color: #707070;
    text-align: right;
}

.card .card-offer{
    font-size:20pt;
    font-weight: 500;
    color: #28A745;
    text-align: right;
    margin-left: 15px;
    margin-right: 20px;
}


.contact-section{
    /*background-color: #28A745;*/ /* Se comenta para usar color de bootstrap similar a la maqueta */
    justify-content: center;
    text-align: center;
}

.nav-item{
    color: white;
}

.container-fluid .contact-text{
    color: white;
    justify-content: center;
    font-weight: 500;
    font-size: 21pt;
}

.container-fluid .form-control{
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
}

.contact-section .btn{
    width: 112px;
    height: 40px;
    font-weight: 500;
    color: #212529;
}

.footer{
    text-align: center;
}

.footer img{
    width: auto;
    height: 35px;
}

.footer .footer-brand{
    justify-content: center;
}

.footer .footer-copyright{
    font-weight: 300;
    color: #707070;
}