@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
}

.left-section{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.left-section .profile{
    min-height: 10vh;
    display: flex;
    border: 1px solid #BEC1BB;
    align-items: center;
    justify-content: space-around;

}

.left-section .profile-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #BEC1BB;
}

.left-section .profile-text{
    margin-left: -50px;
}

.left-section .profile-name{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;;
}

.left-section .profile-status{
    font-size: 15px;
    color: #828485;
    font-family: 'Open Sans', sans-serif;;
}

.left-section .profile-icons{
    min-height: 10px;
}

.left-section .chat{
    min-height: 20vh;
    border: 1px solid #BEC1BB;
    display: flex;
}

.left-section .chat .new-chat{
    background-color: #A491D2;
    width: 240px;
    height: 60px;
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border: none;
}

.left-section .chat .new-chat:hover{
    background-color: #D4DCFF;
}

.left-section .chat .new-chat:focus{
    background-color: #BEC1BB;
}

.left-section .contacts{
    height: 80vh;
}

.left-section .person{
    display: flex;
    align-items: center;
    border: 1px solid #BEC1BB;;
    width: 100%;
    height: 120px;
}

.left-section .person-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 35px;
}

.left-section .person-data{
    display: flex;
    flex-direction: column;
}

.left-section .person-data:first-child{
    margin-bottom: 5px;
}

.left-section .person-name{
    color: #1B1F21;
    font-family: 'Roboto', sans-serif;
}

.left-section .person-text{
    color: #1B1F21;
    font-family: 'Open sans', sans-serif;
}

.right-section{
    background-color: #E8EBE4;
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.right-section .principal-img{
    width: 250px;
    height: 250px;
    margin: auto;
}


.right-section .title-text{
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.right-section .text{
    text-align: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;

}